/* Flexbox Part 1 */

#flex-section1 ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
    padding-right: 40px;
}

/* end Flexbox Part 1 */


/* Flexbox Part 2 */

#flex-section2 ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
}

#flex-section2 li {
	flex: 1;
}

#flex-section2 .item1 {
	order: 1;
}

#flex-section2 .item2 {
	order: 3;
}

#flex-section2 .item3 {
	order: 2;
}

/* end Flexbox Part 2 */


/* Flexbox Part 3 */

#flex-section3 .box {
	display: flex;
	align-items: center;
	justify-content: center;
}

#flex-section3 .tags ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

/* end Flexbox Part 3 */


/* Grid Part 1 */

#grid-section1 .grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 100px);
	column-gap: 20px;
	row-gap: 20px;
}

/* end Grid Part 1 */


/* Grid Part 2 */

#grid-section2 .gridboxblue {
	grid-column: 2 / 4;
  	grid-row: 1 / 4;
	z-index: 1;
}

#grid-section2 .gridboxred {
	grid-column: 1 / 3;
  	grid-row: 2 / 3;
}

/* end Grid Part 2 */


/* Grid Part 3 */

#grid-section3 .grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 100px 300px 100px;
	grid-gap: 10px;
  	height: 100%;
}

#grid-section3 .box1 {
	order: 1;
	grid-area: 1 / 1 / 1 / 3;
}

#grid-section3 .box2 {
	order: 3;
}

#grid-section3 .box3 {
	order: 2;
}

#grid-section3 .box4 {
	order: 4;
	grid-area: 3 / 1 / 4 / 3;
}

/* end Grid Part 3 */


/* Transition Part */

#transition-section .box a {
	display: inline-block;
	background-color: #ccc;
	color: #000;
	padding: 20px;
	text-decoration: none;
	transition-delay: 3s;

}

#transition-section .box a:hover {
	background-color: #cc0000;
	color: #fff;
	transition-delay: .5s;

}

/* end Transition Part */