body {
    background-image: url(background.svg);
}

div.transbox {
    background-color: #fff;
    /* opacity: 0.95; */
    border-radius: 25px;
}

#container {
    width: 50%;
    height: 90%;
    margin: 50px auto;
    padding: 30px 30px;
    overflow: hidden;
}

p, h1{
    text-align: center;
}

#form{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 15px;
}

#error{
    text-align: center;
    color: red;
}

label{
    text-align: right;
}

input{
    width: 50%;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    #container {
        width: 90%;
    }
    
    input{
        width: 80%;
    }
}

@media only screen and (min-width: 600px) {
    /* For desktop: */
    label{
        padding-right: 10%;
    }
}